@using MCard40.Infrastucture.StaticClasses;
@model IEnumerable<MCard40.Model.Entity.Doctor>

@{
    ViewData["Title"] = "Поиск врача";
}
<style>
    .table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

        .table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .table th,
        .table td {
            padding: 8px 15px;
        }

        .table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

</style>
<h1>Поиск врача</h1>

@using (Html.BeginForm())
{
    <p>
        Введите ФИО: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Поиск" />
    </p>
}
<a href="https://wa.me/+996551106880" class="btn btn-sm btn-success" style="
position:absolute !important;
right:59px !important; 
top:121px !important;
padding:0.7rem 0.9rem;
font-size: 0.975rem;
font-weight: 500;
 background-color: #009879;
">Регистратура</a>

<table class="table">
    <thead>
        <tr>
            @Html.ActionLink("Сортировка по ФИО : ", "Index", new {sortOrder = ViewBag.NameSortParm})
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <th>@Html.DisplayNameFor(model => model.Sex)</th>
            <th>@Html.DisplayNameFor(model => model.Post)</th>
            <th>@Html.DisplayNameFor(model => model.Address_job)</th>
            <th>@Html.DisplayNameFor(model => model.Degree)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.FullName) </td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>@Html.DisplayFor(modelItem => item.Sex)</td>
                <td>@Html.DisplayFor(modelItem => item.Post)</td>
                <td>@Html.DisplayFor(modelItem => item.Address_job)</td>
                <td>@Html.DisplayFor(modelItem => item.Degree)</td>
                @if (User.IsInRole(WC.Admin))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-sm btn-info">Детали</a>
                    </td>
                }
                else if (User.IsInRole(WC.Doctor))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Детали</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
