@model MCard40.Model.Entity.WorkDay

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkDay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employment_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employment_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
