@model IEnumerable<MCard40.Model.Entity.WorkDay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employment_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Week)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employment_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
