@model IEnumerable<MCard40.Model.Entity.CardPage>

@{
    ViewData["Title"] = "Карта пациента";
}
<style>
    .table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .table th,
        .table td {
            padding: 8px 15px;
        }

        .table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

</style>

<h1>Карта пациента</h1>

<p>
    <a asp-action="CardCreate" asp-route-id="@ViewBag.PatientId">Создать новый лист карты</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disease)
            </th>
            <th>
                Дата создания
            </th>
            <th>
                ФИО доктора
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disease)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.DateСreation)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FullName)
            </td>
            <td>

                <a asp-action="CardEdit" asp-route-id="@item.Id">Редактировать</a> 
               @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
