@using MCard40.Infrastucture.StaticClasses;
@model IEnumerable<MCard40.Model.Entity.Doctor>
@*@using X.PagedList;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />*@
@{
    ViewData["Title"] = "Поиск врача";
}

<h1>Поиск врача</h1>


@using (Html.BeginForm("Index", "Doctors", FormMethod.Get))
{
    <p>
        Введите ФИО: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Поиск" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ITN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address_home)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address_job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ITN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address_home)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address_job)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                
                @if (User.IsInRole(WC.Admin))
                {
                    <td>  
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    </td>
                }
                else if (User.IsInRole(WC.Doctor))
                 {
                    <td>  
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<br />
